@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


@theme{
  --color-primary: #F84565;
  --color-primary: #8c7225;
  --color-zinmyo-100: #B78628;
  --color-zinmyo-200: #c69320;
  --color-zinmyo-300: #DBA514;
  --color-zinmyo-400: #EEB609;
  --color-zinmyo-500: #FFC201;
  --color-primary-dull: #D63854;
}

*{
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

body{
  color: white;
  background-color: #090909
}

.no-scrollbar{
  scrollbar-width: none; /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
   -webkit-appearance: none;
}

::-webkit-calendar-picker-indicator{
  filter: invert(1);
}


/* Carousel */

/* arrows (prev/next) - color uses currentColor so set color */
.swiper-button-next,
.swiper-button-prev {
  color: #ffffff;            /* arrow color */
  width: 24px !important;
  height: 24px !important;
  padding: 1px !important;
  margin: 6px !important;
  background: none !important; /* optional background circle */
  border-radius: 9999px;
}

/* If arrows are SVGs, ensure stroke/fill are visible */
.swiper-button-next svg,
.swiper-button-prev svg {
  stroke: #ffffff;
  fill: #ffffff;
}

/* pagination bullets (dots) */
.swiper-pagination-bullet {
  background: whitesmoke !important;
  width: 10px;
  height: 10px;
  opacity: 1;
}

/* active bullet */
.swiper-pagination-bullet-active {
  background: #ffffff;
  transform: scale(1.25);
}
